*, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
